.visible {
    display: grid;
}
.hidden {
    display: none;
}
.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 4;
    place-items: center;
}
.modal__content {
    background: white;
    border-radius: 10px;
    width: 50%;
    height: 50%;
}
.modal__content--close:hover {
    cursor: pointer;
}